{% extends 'base.html.twig' %}

{% block title %}Rose de Damas{% endblock %}

{% block body %}
</p>
<section class ="ingredient">
  <div align ="center">
    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <p class="card-text">
          <div class = "ing">
                 {{ingredient.name}}
           </div>
        </p> 
      </div>
    </div>
  </div>
</section>
{% endblock %}
